body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
   
}
.h1,.h2,.h3,h1,h2,h3{
    text-align: center;
}
#global{
    /* margin: 20px; */
    margin-top: 50px;
    align-self: center;
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
}
.meetup{
    margin: 20px;
    align-self: center;
    width: 1000px;
    height:400px;
    display:block;
    flex-direction:row;
    justify-content:space-around;
}
.location{
    margin: 20px;
    align-self: center;
    width: 1000px;
    height:400px;
    display:block;
    flex-direction:row;
    justify-content: space-around;

}
.speaker{
    margin: 20px;
    align-self: center;
    width: 1000px;
    height:400px;
    display:block;
    flex-direction:row;
    justify-content:space-around;
}
.subscriber{
    margin: 20px;
    align-self: center;
    width: 1000px;
    height:400px;
    display:block;
    flex-direction:row;
    justify-content:space-around;
}



footer{
    height:100px;
    width: 100%;
}
.actu-fin{
    background-color: #545454;
    height: 50px;
    padding:2px;
}
.para-actu{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    text-align: center;
    color: white;
}
.foot{
    display: flex;
    flex-direction: row;
    background-color: #545454;
    color: white;

}
.foot-fin{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.g1{
    padding-left: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.g2{
    text-decoration: none;
    list-style: none;
    margin-right: 60px;
    padding-bottom: 25px;
    color: white;
}
a{
    text-decoration: none;
    color:rgb(206, 204, 204);

  }
  .menh{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
   
    height: 80px;
    box-shadow: 0px 3px rgb(160, 156, 156);
    /* background-color: rgb(250, 248, 248); */
}
.g_left{
    width: 150px;
    height: 50px;
    background-image: url("logo.jpeg");
    background-size: cover;
    padding-top:5px;
    margin-left: 20px;
}
.g_right{
    margin:15px;
    
}

.m1 {
    /* border:2px solid red; */
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 1px;
    text-decoration:#FAFAFA;
    }
   
    .m2 {
       color: white;
       margin:5px;
       border-radius: 3px;
       padding:10px;
       padding-left:15px;
       padding-right:15px;
       background-color: red;
     }
     header{
        position:fixed;
        background-color: white;
        z-index: 100;
         width: 100%;
     }
      .dam{
         color:white;
         padding:0px 0 7px 0;
	    font:Bold 13px Arial;
	    background:#e2e2e2;
        color:#888;
        width: 100px;
    height: 40px;
        border-radius:2px;
        border:none;
     }
     .dam1{
         color:red;
         padding:0px 0 7px 0;
	    font:Bold 13px Arial;
	    background:#e2e2e2;
        color:#888;
        width: 100px;
    height: 40px;
        border-radius:2px;
        border:none;
     }
     .passion{
         height: 400px;
         width: 100%;
         background-image: url("covvrrr.jpg");
         background-size: 1284px 400px ;
         /* background-size:cover; */
         
         background-repeat: no-repeat;
         box-shadow: 0px 3px rgb(160, 156, 156);

        
        }
     .passion1{
        font-family: 'Sofia';
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        color:#222;
     }
     .passion2{
        font-family: 'Sofia';
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color:#222;
     }
     .vide{
         height: 100px;
     }
     /* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
     border: 2px solid rgb(133, 130, 130);
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 1px;
    text-decoration: #FAFAFA; 
    
      
    
}

button:hover {
    opacity: 0.8;
}





/* The Modal (background) */
.modal, .modal2 ,.modal3,.modal5,.modal7,.modal8 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1; Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
/*pop up infos*/
.modal8{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1; Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.modal-contentI {
    background-color: #fefefe;
    /* margin: 5% auto 15% auto; 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%;
    height: 55%;
    overflow: hidden;
    margin-top: 134px;
    margin-left: 150px;
    z-index: 21;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.tit, .des, .dat{
    height: 120px;
    width: 140px;
    /* border:2px solid red; */
}
.img{
    height: 200px;
    width: 423px;
    background-repeat:no-repeat;
    background-size: cover;
}
/*-------------------------------slide-----*/
.ti, .da{
    /* border:1px solid rgb(133, 130, 130); */
    height: 40px;
    width: 340px;
}
 .des{
    /* border:1px solid rgb(133, 130, 130); */
    height: 120px;
    width: 340px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.active{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* flex-wrap: wrap;  */
}
.activeL, .activeS, .activeS2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.edit-meet{
    height: 40px;
    width: 150px;
    display: block;
    padding:6px 0 6px 0;
    font:bold 13px Arial;
    background:#d34836;
    color:#fff;
    border-radius:2px;
    width:100px;
    border:none;
    margin: 10px;
}

  .slides {
    background: white;
    width:30%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0, 0.25), 0 10px 10px rgba(0,0,0, 0.22);

    
  }
  .slidesS2 {
    background: white;
    width: 30%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0, 0.25), 0 10px 10px rgba(0,0,0, 0.22);

  }
  .slidesL, .slidesS {
    background: white;
    width: 30%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0, 0.25), 0 10px 10px rgba(0,0,0, 0.22);

    
  }
  
  .premier-rond, .desieme-rond{
      
      display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }
  .butt-part-edit{
      display:flex;
      flex-direction: row;
      align-items: center;
  }


  .slides .angle {
    color: #d34836;
    cursor: pointer;
    position: relative;
    top: calc(50% - 20px);
    transform: scale(1);
    transition: all 0.2s ease-in-out;    
  }
  .slidesL .angle {
    color: #d34836;
    cursor: pointer;
    position: relative;
    top: calc(50% - 20px);
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    
  }
  .slidesS .angle {
    color: #d34836;
    cursor: pointer;
    position: relative;
    top: calc(50% - 20px);
    transform: scale(1);
    transition: all 0.2s ease-in-out;
   
  }
  .slidesS2 .angle {
    color: #d34836;
    cursor: pointer;
    position: relative;
    top: calc(50% - 20px);
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    
  }
  .slides .angle:hover {
    transform: scale(1.7);
  }
  .slidesL .angle:hover {
    transform: scale(1.7);
  }
  .slidesS .angle:hover {
    transform: scale(1.7);
  }
  .slidesS2 .angle:hover {
    transform: scale(1.7);
  }
  .slides .angle.right {
    float: right;
    margin-right: 1rem;
  }
  .slidesL .angle.rightL {
    float: right;
    margin-right: 1rem;
  }
  .slidesS .angle.rightS {
    float: right;
    margin-right: 1rem;
  }
  .slidesS2 .angle.rightS2 {
    float: right;
    margin-right: 1rem;
  }
  .slides .angle.left {
    float: left;
    margin-left: 1rem;
  }
  .slidesL .angle.leftL {
    float: left;
    margin-left: 1rem;
  }
  .slidesS .angle.leftS {
    float: left;
    margin-left: 1rem;
  }
  .slidesS2 .angle.leftS2 {
    float: left;
    margin-left: 1rem;
  }
  .slides .slide {
    height: 100%;
    transition: all 0.2s ease-in-out;
  }
  .slidesL .slideL {
    height: 87%;
    transition: all 0.2s ease-in-out;
  }
  .slidesS .slideS {
    height: 87%;
    transition: all 0.2s ease-in-out;
  }
  .slidesS2 .slideS2 {
    height: 87%;
    transition: all 0.2s ease-in-out;
  }
  .slides .slide:not(.active) {
    display: none;
  }
  .slidesS .slideS:not(.activeS) {
    display: none;
  }
  .slidesS2 .slideS2:not(.activeS2) {
    display: none;
  }
  .slidesL .slideL:not(.activeL) {
    display: none;
  }
  .slidesS .slideS:not(.activeS) {
    display: none;
  }
  .slidesS2 .slideS2:not(.activeS2) {
    display: none;
  }
  .slides .slide.inverted {
    color: white;
  }
  .slidesL .slideL.inverted {
    color: white;
  }
  .slidesS .slideS.inverted {
    color: white;
    
    
  }
  .slidesS2 .slideS2.inverted {
    color: white;
  }
  .ajt{
    padding-top: 9px;
}
.span{
    font-family:georgia, serif;
    font-weight: bold ;

}
#infos {
    float: right;
    position: relative;
    top: 130px;
    right: 40px;
} 
/*pop up infos*/
.iframe{
    display: flex;
    justify-content: center;
}
